<h2>Mis Pelis</h2>

<div class="flex-container">
  <div class="flex-child">
    <ul class="pelis">
      <li *ngFor="let peli of pelis">
        <button
          [class.selected]="peli === selectedPeli"
          type="button"
          (click)="onSelect(peli)"
        >
          <span class="badge">{{ peli.id }}</span>
          <span class="name">{{ peli.name }}</span>
        </button>
      </li>
    </ul>
  </div>

  <div class="flex-child">
    <div *ngIf="selectedPeli">
      <h2>{{ selectedPeli.name | uppercase }} Details</h2>
      <div>id: {{ selectedPeli.id }}</div>
      <div>name: {{ selectedPeli.name }}</div>
      <img class="image" [src]="selectedPeli.poster">
    </div>
  </div>
</div>
